################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.suo
*.vcxproj
*.filters
*.sln
*.db
*.opendb
/Pat/Pat/Debug/vc140.pdb
/Pat/Pat/Debug/vc140.idb
/Pat/Pat/Debug/Pat.tlog/Pat.lastbuildstate
/Pat/Pat/Debug/Pat.tlog/link.write.1.tlog
/Pat/Pat/Debug/Pat.tlog/link.read.1.tlog
/Pat/Pat/Debug/Pat.tlog/link.command.1.tlog
/Pat/Pat/Debug/Pat.tlog/CL.write.1.tlog
/Pat/Pat/Debug/Pat.tlog/CL.read.1.tlog
/Pat/Pat/Debug/Pat.tlog/CL.command.1.tlog
/Pat/Pat/Debug/Pat.log
/Pat/Pat/Debug/L2-20.obj
/Pat/Pat/Debug/L2-011.obj
/Pat/Pat/Debug/L2-009.obj
/Pat/Pat/Debug/L2-006.obj
/Pat/Debug
